/* google fonts link  */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.heading-text{
  font-family: 'Pacifico', cursive;
}
.rn{
  font-family: arial;
}
.banner-sec{
    background: linear-gradient(#0404048e,#0000009d, #ff00005e), url(../images/background-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.bannerImageContainer{
  display: flex;
  flex-direction: row-reverse;
}

.contentWrapper{
  width: max-content;
}
.typingDiv{
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #12f684;
  animation: welcome 3s steps(60) infinite alternate, blink 0.7s infinite;
}

@keyframes welcome {
  0%{
    width: 0%;
    visibility: hidden;
  }
  100%{
    width: 100%;
  }
}

@keyframes blink {
  50%{
    border-color: transparent;
  }
  100%{
    border-color: #12f684;
  }
  
}
