/* google fonts link  */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

  /* font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif; */
.heading-text{
  font-family: 'Pacifico', cursive;
}
.banner-sec{
    background: linear-gradient(#0404048e,#0000009d, #ff00005e), url(../images/background-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.bannerImageContainer{
  display: flex;
  flex-direction: row-reverse;
}